<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Nadadors</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de Proves</h1>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Nom</th>
    <th>Descripcio</th>
    <th>Tipus</th>
    <th>Data</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="prova: ${proves}">
    <td th:text="${prova.nom}"></td>
    <td th:text="${prova.descripcio}"></td>
    <td th:text="${prova.tipus}"></td>
    <td th:text="${prova.data}"></td>
    <td><a th:href="@{/prova/update/{nom}(nom=${prova.nom})}"><button type="button" class="btn btn-warning">Edita</button></a>
    </td>
    <td><a th:href="@{/prova/delete/{nom}(nom=${prova.nom})}"><button type="button" class="btn btn-danger">Esborra</button></a>
    </td>
  </tr>
  </tbody>
</table>
<a href="add">
  <button type="button" class="btn btn-success">Afegeix nadador</button></a>