<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>Gestionar Classificacions</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
  <link rel="stylesheet" type="text/css" href="/css/natacio.css"
        th:href="@{/css/natacio.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
  <h2>Nova classificació</h2>
  <form class="form-horizontal" action="#" th:action="@{/classificacio/update}"
        th:object="${classificacio}" method="post">

    <div class="form-group row">
      <label class="control-label col-sm-2" for="nomNadador">Nom:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="nomNadador" th:field="*{nomNadador}" />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="nomProva">Nom Prova:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="nomProva" th:field="*{nomProva}" />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="posicio">Posicio:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="posicio" th:field="*{posicio}" />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="temps">Temps:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="temps" th:field="*{temps}"/>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary">Edita classificacio</button>
      </div>
    </div>

  </form>
</div>
</body>
</html>