<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crear nou Nadador</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou nadador</h2>
<form action="#" th:action="@{/nadador/add}"
      th:object="${nadador}" method="post">
  <table>
    <tr>
      <td><label>Nom</label></td>
      <td><input type="text" th:field="*{nom}" /></td>
      <td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></td>
    </tr>
    <tr>
      <td><label>Num. Federat</label></td>
      <td><input type="text" th:field="*{numFederat}" /></td>
    </tr>
    <tr>
      <td><label>Pais</label></td>
      <td><input type="text" th:field="*{pais}" /></td>
    </tr>
    <tr>
      <td><label>Edat</label></td>
      <td><input type="number" th:field="*{edat}" /></td>
      <td th:if="${#fields.hasErrors('edat')}" th:errors="*{edat}"></td>
    </tr>
    <tr>
      <td><label>Gènere</label></td>
      <td><input type="text" th:field="*{genere}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Afegeix nadador" /></td>
    </tr>
  </table>
</form>
</body>
</html>
