<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Gestionar Nadadors</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/natacio.css"
          th:href="@{/css/natacio.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div layout:fragment="content">
<h1>Llista de Nadadors</h1>
<div th:if="${#lists.isEmpty(nadadors)}">
    No hi ha nadadors en la base de dades
</div>
<table th:unless="${#lists.isEmpty(nadadors)}">
    <thead>
    <tr>
        <th>Num. Federat</th>
        <th>Nom</th>
        <th>Pais</th>
        <th>Edat</th>
        <th>Gènere</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="nadador: ${#lists.sort(nadadors)}">
        <td th:text="${nadador.numFederat}"></td>
        <td th:text="${nadador.nom}" th:class="${#strings.equals(nadador.genere, 'Femeni')} ? font-weight-bold : font-italic"></td>
        <td th:text="${nadador.pais}"></td>
        <td th:text="${nadador.edat}"></td>
        <td th:text="${nadador.genere}"></td>
        <td><a th:href="@{/nadador/update/{nom}(nom=${nadador.nom})}" class="btn btn-warning">Edita</a>
        </td>
        <td><a th:href="@{/nadador/delete/{nom}(nom=${nadador.nom})}" class="btn btn-danger">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Afegeix nadador class="btn btn-primary"</a>
</div>
</body>
</html>
